//  中性色板

$gray-1: #ffffff !default;
$gray-2:#fafafa !default;
$gray-3:#f5f5f5 !default;
$gray-4:#f0f0f0 !default;
$gray-5:#d9d9d9 !default;
$gray-6: #bfbfbf !default;
$gray-7: #8c8c8c !default;
$gray-8:#595959 !default;
$gray-9:#434343 !default;
$gray-10: #262626 !default;
$gray-11: #1f1f1f !default;
$gray-12:#141414 !default;
$gray-13: #000000 !default;


// 基础色板

$blue: #5B8FF9 !default;
$cyan: #61DDAA !default;
$grey:  #65789B !default;
$yellow: #F6BD16 !default;
$deeppurple:#7262fd !default;
$skyblue:#78D3F8 !default;
$purple: #9661BC !default;
$orange:#F6903D !default;
$green: #008685 !default;
$magenta: #F08BB4 !default;
$red: #B40F0F !default;

// 系统色
$primary: $blue !default;
$success: $cyan !default;
$info: $skyblue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-2 !default;
$dark: $gray-12 !default;


// 字体样式
$font-family-monospace: "Roboto","Helvetica Neue", 'Segoe UI', Tahoma,Verdana, -apple-system, BlinkMacSystemFont ,sans-serif;
$font-family-base:$font-family-monospace !default;

//  字体大小
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;
// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
//  行高

$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

//  标题

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

//  链接

$link-color: $primary !default;
$link-direction: none !default;
$link-hover-color: darken($link-color,15%) !default;
$link-hover-direction: underline !default;

//  body

$body-bg: $gray-1 !default;
$body-color: $gray-13 !default;
$body-text-align: null !default;

//  Button

// padding

$btn-padding-x-lg:20px !default;
$btn-padding-y-lg: 12px !default;
$btn-padding-x: 15px !default;
$btn-padding-y: 8px !default;
$btn-padding-x-sm: 10px !default;
$btn-padding-y-sm: 4px !default;

//  border

$btn-border-width: 1px !default;

//  out-line

$btn-out-line: none !default;

//  font-size

$btn-font-size-lg: 14px !default;
$btn-font-size: 14px !default;
$btn-font-size-sm: 12px !default;

// font-weight

$btn-font-weight: 400 !default;

// line-height

$btn-line-height: 1.25 !default;

//  border-radius

$btn-border-radius-lg: 6px !default;
$btn-border-radius-sm: 3px !default;
$btn-border-radius: 4px !default;

$btn-background:$gray-2 !default;
$btn-color:$gray-12 !default;


$btn-margin-x-lg: 12px !default;
$btn-margin-y-lg: 15px !default;
$btn-margin-x: 10px !default;
$btn-margin-y: 12px !default;
$btn-margin-x-sm: 8px !default;
$btn-margin-y-sm: 8px !default;

$btn-disable-opacity: 0.35 !default;




